<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="panda_arm_ignition" params="ns">
    <gazebo>
      <!-- Joint state publisher -->
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find franka_bringup)/config/controllers.yaml</parameters>
      </plugin>
    </gazebo>

    <ros2_control name="IgnitionSystem" type="system">
      <hardware>
          <plugin>ign_ros2_control/IgnitionSystem</plugin>
      </hardware>

      <xacro:macro name="configure_joint" params="joint_name initial_position">
        <joint name="${joint_name}">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">${initial_position}</param>
          </state_interface>
          <state_interface name="velocity"/>
        </joint>
      </xacro:macro>

      <xacro:configure_joint joint_name="${ns}_joint1" initial_position="0.0"/>
      <xacro:configure_joint joint_name="${ns}_joint2" initial_position="${-pi/4}"/>
      <xacro:configure_joint joint_name="${ns}_joint3" initial_position="0.0"/>
      <xacro:configure_joint joint_name="${ns}_joint4" initial_position="${-3*pi/4}"/>
      <xacro:configure_joint joint_name="${ns}_joint5" initial_position="0.0"/>
      <xacro:configure_joint joint_name="${ns}_joint6" initial_position="${pi/2}"/>
      <xacro:configure_joint joint_name="${ns}_joint7" initial_position="${pi/4}"/>
    </ros2_control>
  </xacro:macro>
</robot>
