<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:macro name="lidar" params="name parent min_angle:='${radians(-45)}' max_angle:='${radians(225)}' *origin ">
    <xacro:include filename="$(find franka_mobile_sensors)/robots/nanoscan3/nanoscan3/nanoscan3_macro.xacro"/>
    <xacro:nanoscan3
      name="${name}"
      parent="${parent}"
      mounting_kit="false"
      ros_topic="/${name}/scan"
      update_rate="50.0"
      min_angle="${min_angle}"
      max_angle="${max_angle}"
      min_range="0.05"
      max_range="10.0"
      gaussian_noise="0.006"
      max_beams="500">
      <xacro:insert_block name="origin" />
    </xacro:nanoscan3>
  </xacro:macro>

</robot>
