<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tmrv0_2_with_sensors">

  <xacro:include filename="$(find franka_mobile_sensors)/robots/tmrv0_2_with_sensors.xacro"/>

  <!-- The ID of the robot model to be used -->
  <xacro:arg name="robot_type" default="tmrv0_2" />

  <!-- Should the reduced kinematic version (without caster wheels) be used? -->
  <xacro:arg name="reduced_version" default="false" />

  <!-- The namespace of the robot -->
  <xacro:arg name="robot_namespace" default="" />

  <link name="base"/>
  <joint name="base_joint" type="fixed">
    <parent link="base"/>
    <child link="base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <xacro:tmrv0_2_with_sensors
            robot_type="$(arg robot_type)"
            reduced_version="$(arg reduced_version)"
            robot_namespace="$(arg robot_namespace)"/>

</robot>
